img {
    height: 150px;
    width: 150px;
}

.city {
    height: 150px;
    width: 150px;
}

.link {
    height: 20px;
    width: 22px;
}

.logo {
    height: 60px;
    width: 60px;
}

.container {
    height: 100%;
    width: 100%;
}