img {
    height: 150px;
    width: 150px;
}

.city {
    height: 150px;
    width: 150px;
}

.link {
    height: 20px;
    width: 22px;
    position: relative;
    left: 93%;
}

.logo {
    height: 60px;
    width: 60px;
}

.container {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
}

.footer {
    background-color: rosybrown;
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 5px;
}

.back {
    margin-top: 50px;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg
);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.city {
    margin-left: 170px;
    border-radius: 25%;
    margin-bottom: 150px;
    margin-top: 50px;
}

.login {
    position: relative;
    left: 90%;
    bottom: 30px;
}

.ct {
    margin: 200px 600px;
    border: 1px solid transparent;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
}

.copy {
    text-align: center;
}