img {
    height: 200px;
    width: 150px;
}

.hotel {
    height: 150px;
    width: 150px;
}

.link {
    height: 20px;
    width: 22px;
}

.logo {
    height: 60px;
    width: 60px;
}

.header {
    background-color: rosybrown;
}

.footer {
    background-color: rosybrown;
}

body {
    background-color: #e0e0e0;
}

.hotel {
    background-color: rgb(132, 136, 139);
    height: 300px;
    width: 300px;
}

.hotell {
    width: 600px;
    background-color: rgb(132, 136, 139);
}